.Aboutme {
    width: 100%;
    height: 1392px;
    &_content {
        display: flex;
        width: 100%;
        height: 100%;
        background: url('./assets/img/kirill_fon_obo_mne.png') 0 0/cover no-repeat;
    }
    &_text {
        span {
            font-size: 22px;
        }
        line-height: 23px;
        text-transform: uppercase;
        padding: 226px  0px 0px 20%;
        flex: 0 0 505px;
        color: #ffffff;
        font-family: 'Comfortaa', cursive;
        font-size: 14px;
        font-weight: 400;
    }
}

@media (max-width: 1500px) {
    .Aboutme {
        &_content {
            background-position: -300px 0;
        }
  }
}

@media (max-width: 1300px) {
    .Aboutme {
        &_content {
            background-position: -450px 0;
        }
        &_text {
            span {
                font-size: 22px;
            }
            line-height: 23px;
            text-transform: uppercase;
            padding: 226px  0px 0px 15%;
            flex: 0 0 505px;
            color: #ffffff;
            font-family: 'Comfortaa', cursive;
            font-size: 14px;
            font-weight: 400;
        }
  }
}
@media (max-width: 1140px) {
    .Aboutme {
        &_content {
            background-position: -500px 0;
        }
        &_text {
            span {
                font-size: 22px;
            }
            line-height: 23px;
            text-transform: uppercase;
            padding: 226px  0px 0px 10%;
            flex: 0 0 505px;
            color: #ffffff;
            font-family: 'Comfortaa', cursive;
            font-size: 14px;
            font-weight: 400;
        }
  }
}
@media (max-width: 1080px) {
    .Aboutme {
        &_content {
            background-position: -600px 0;
        }
        &_text {
            span {
                font-size: 20px;
            }
            line-height: 23px;
            text-transform: uppercase;
            padding: 226px  0px 0px 10%;
            flex: 0 0 450px;
            color: #ffffff;
            font-family: 'Comfortaa', cursive;
            font-size: 14px;
            font-weight: 400;
        }
  }
}
@media (max-width: 980px) {
    .Aboutme {
        height: 1024px;
        &_content {
            background-position: -300px 0px;
        }
        &_text {
            span {
                font-size: 20px;
            }
            line-height: 23px;
            text-transform: uppercase;
            padding: 126px  0px 0px 8%;
            flex: 0 0 430px;
            color: #ffffff;
            font-family: 'Comfortaa', cursive;
            font-size: 14px;
            font-weight: 400;
        }
  }
}
@media (max-width: 860px) {
    .Aboutme {

        &_content {
            background-position: -380px 0px;
        }
        &_text {
            span {
                font-size: 20px;
            }
            line-height: 23px;
            text-transform: uppercase;
            padding: 140px  0px 0px 8%;
            flex: 0 0 450px;
            color: #ffffff;
            font-family: 'Comfortaa', cursive;
            font-size: 14px;
            font-weight: 400;
        }
  }
}
@media (max-width: 780px) {
    .Aboutme {
        &_content {
            background-position: -430px 0px;
        }
        &_text {
            span {
                font-size: 18px;
            }
            line-height: 20px;
            text-transform: uppercase;
            padding: 140px  0px 0px 8%;
            flex: 0 0 400px;
            color: #ffffff;
            font-family: 'Comfortaa', cursive;
            font-size: 13px;
            font-weight: 400;
        }
  }
}
@media (max-width: 730px) {
    .Aboutme {
        &_content {
            background-position: -500px 0px;
        }
        &_text {
            span {
                font-size: 15px;
            }
            line-height: 20px;
            text-transform: uppercase;
            padding: 140px  0px 0px 5%;
            flex: 0 0 360px;
            color: #ffffff;
            font-family: 'Comfortaa', cursive;
            font-size: 11px;
            font-weight: 400;
        }
  }
}
@media (max-width: 660px) {
    .Aboutme {
        height: 850px;
        &_content {
            background-position: -430px 0px;
        }
        &_text {
            span {
                font-size: 15px;
            }
            line-height: 20px;
            text-transform: uppercase;
            padding:110px  0px 0px 5%;
            flex: 0 0 330px;
            color: #ffffff;
            font-family: 'Comfortaa', cursive;
            font-size: 11px;
            font-weight: 400;
        }
  }
}
@media (max-width: 530px) {
    .Aboutme {
        height: 850px;
        &_content {
            background-position: -460px 0px;
        }
        &_text {
            span {
                font-size: 14px;
            }
            line-height: 20px;
            text-transform: uppercase;
            padding:110px  0px 0px 5%;
            flex: 0 0 300px;
            color: #ffffff;
            font-family: 'Comfortaa', cursive;
            font-size: 10px;
            font-weight: 400;
        }
  }
}
@media (max-width: 500px) {
    .Aboutme {
        height: 850px;
        &_content {
            background-position: -530px 0px;
        }
        &_text {
            span {
                font-size: 14px;
            }
            line-height: 20px;
            text-transform: uppercase;
            padding:70px  0px 0px 5%;
            flex: 0 0 240px;
            color: #ffffff;
            font-family: 'Comfortaa', cursive;
            font-size: 10px;
            font-weight: 400;
        }
  }
}
@media (max-width: 435px) {
    .Aboutme {
        height: 850px;
        &_content {
            background-position: -570px 0px;
        }
        &_text {
            span {
                font-size: 12px;
            }
            line-height: 14px;
            text-transform: uppercase;
            padding:110px  0px 0px 2%;
            flex: 0 0 190px;
            color: #ffffff;
            font-family: 'Comfortaa', cursive;
            font-size: 9px;
            font-weight: 400;
        }
  }
}